#testimonialBox {
	float: right;
	width: 255px;
	margin: 30px 20px 20px 30px;
	box-shadow: 1px 2px 2px #3c4b1d;
	background: rgb(255,153,102); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,153,102,1) 0%, rgba(255,168,125,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,153,102,1)), color-stop(100%,rgba(255,168,125,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,153,102,1) 0%,rgba(255,168,125,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,153,102,1) 0%,rgba(255,168,125,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,153,102,1) 0%,rgba(255,168,125,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(255,153,102,1) 0%,rgba(255,168,125,1) 100%); /* W3C */
	border: 2px solid #ffcc99;
	border-radius: 3px;
	//font-family: 'QuicksandBook', sans-serif;
	font-family: 'GentiumBookBasicRegular', serif;
	font-size: 1.2em;

}

.orangeBox {
	display: none;
}

#testimonialBox .orangeBox {
	display: block;
	margin: 0 10px;
}


#testimonialBox .orangeBox h1 {
	background-image: none;
	font-size: 1.3em;
	font-weight: bold;
	text-shadow: none;
	margin: 10px 5px 5px 2px;
	padding: 0px;
	//font-family: 'QuicksandBoldOblique', Arial, sans-serif;
	font-family: 'GentiumBookBasicBoldItalic', serif;
}

#testimonialBox .orangeBox p {
	padding: 15px;
}

#testimonialBox .orangeBox img {
	border: 8px solid #FFF;
	box-shadow: 1px 3px 3px #777;
	max-width: 90%;
	height: auto;
	margin: 0px 0px 5px 0px;
}

#testimonialBox .orangeBox .wp-caption img {
	border: none;
	box-shadow: none;
	max-width: 100%;
	height: auto;
}

#testimonialBox .orangeBox .wp-caption p {
	padding: 0px;
	//font-size: .9em;
	font-size: 15px;
}

/*#testimonialBox .orangeBox p:first-child:first-letter {
	font-size: 30px;	
}
*/


#testimonialBox .flex-control-thumbs {
	padding: 4px 0px;
	background: #ffcc99;
}

#rightCol .flex-control-thumbs img {
	border: none;
	margin: 0px;
	box-shadow: none;
}

#testimonialBox ol, #testimonialBox ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}